*.class
target/
readme.txt
dummy.txt
jpiere.modification.org.adempiere.base/jpiere.modification.org.adempiere.base.jar
jpiere.modification.org.adempiere.ui.zk/jpiere.modification.org.adempiere.ui.zk.jar
